{% extends 'base.html' %}
{% block content %}
<h3>Bulk Upload - {{ college.institute_name }}</h3>
<a class="btn btn-outline-secondary mb-3" href="{{ url_for('learners.download_bulk_template', college_id=college.id) }}">Download Template</a>
<form method="post" enctype="multipart/form-data" class="card card-body col-md-6">
  <div class="mb-3">
        <label class="form-label">Upload Excel File</label>
        <input type="file"
               name="bulk_file"
               class="form-control"
               accept=".xlsx,.xls"
               required>
      </div>

      <button type="submit" class="btn btn-primary">
        Upload File
      </button>
</form>
{% endblock %}
